<!doctype html>
<html lang="ch" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
  data-sidebar-image="none" data-preloader="disable">

<head>
  <meta charset="utf-8" />
  <title>
    <%-title%> | 2CY.GAME - Pack Template
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesbrand" name="author" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <%- include('layout/head-css'); %>
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <!-- dropzone css -->
    <link rel="stylesheet" href="assets/libs/dropzone/dropzone.css" type="text/css" />
</head>

<body>
  <div id="layout-wrapper">
    <%- include('layout/topbar'); %>
      <%- include('layout/sidebar'); %>
        <div class="main-content overflow-hidden">
          <div class="page-content">
            <div class="container-fluid">
              <%- include('layout/page-title'); %>
                <div class="row justify-content-center">
                  <div class="col-xxl-9">
                    <div class="card">
                      <form class="needs-validation" novalidate id="invoice_form">
                        <div class="card-body border-bottom border-bottom-dashed p-4">
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="modal-body">
                                <div class="mb-3">
                                  <label for="PackId" class="form-label" data-key="t-pack-id">
                                    ID</label>
                                  <input type="text" id="PackId" class="form-control" required />
                                </div>
                                <div class="mb-3">
                                  <label for="Name" class="form-label" data-key="t-name">
                                    Name</label>
                                  <input type="text" id="Name" class="form-control" required />
                                </div>
                                <div class="mb-3">
                                  <label for="Discount" class="form-label" data-key="t-discount">Discount</label>
                                  <input type="number" id="Discount" class="form-control" placeholder="0.0" required />
                                </div>
                              </div>
                            </div>
                            <!--end col-->
                            <div class="col-lg-4 ms-auto">
                              <div class="modal-body">
                                <div class="mb-3">
                                  <label for="GameId" class="form-label" data-key="t-game">
                                    GameId</label>
                                  <select class="js-example-basic-single" name="state" id="GameId">
                                  </select>
                                </div>
                                <div class="mb-3">
                                  <label for="Desc" class="form-label" data-key="t-desc">Desc</label>
                                  <input type="text" id="Desc" class="form-control" required />
                                </div>

                                <div class="mb-3">
                                  <label for="Order" class="form-label" data-key="t-order">Order</label>
                                  <input type="number" id="Order" class="form-control" required />
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--end row-->
                        </div>
                        <div class="card-body p-4">
                          <div class="table-responsive">
                            <table class="invoice-table table table-borderless table-nowrap mb-0">
                              <thead class="align-middle">
                                <tr class="table-active">
                                  <th scope="col" style="width: 50px;">#</th>
                                  <th scope="col">
                                    Pack items
                                  </th>
                                  <th scope="col" style="width: 120px;">
                                    <div class="d-flex currency-select input-light align-items-center">
                                      Rate
                                      <select class="form-selectborder-0 bg-light" data-choices
                                        data-choices-search-false id="choices-payment-currency">
                                        <option value="$">($)</option>
                                        <option value="£">(£)</option>
                                        <option value="₹">(₹)</option>
                                        <option value="€">(€)</option>
                                      </select>
                                    </div>
                                  </th>
                                  <th scope="col" style="width: 120px;">Quantity</th>
                                  <th scope="col" class="text-end" style="width: 150px;">Amount</th>
                                  <th scope="col" class="text-end" style="width: 105px;"></th>
                                </tr>
                              </thead>
                              <tbody id="newlink">
                                <tr id="1" class="product">
                                  <th scope="row" class="product-id">1</th>
                                  <td class="text-start">
                                    <div class="mb-2">
                                      <input type="text" class="form-control bg-light border-0" id="productName-1"
                                        placeholder="Item Name" required />
                                      <div class="invalid-feedback">
                                        Please enter a Item name
                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <input type="number" class="form-control product-price bg-light border-0"
                                      id="productRate-1" step="0.01" placeholder="0.00" required />
                                    <div class="invalid-feedback">
                                      Please enter a rate
                                    </div>
                                  </td>
                                  <td>
                                    <div class="input-step">
                                      <button type="button" class='minus'>–</button>
                                      <input type="number" class="product-quantity" id="product-qty-1" value="0"
                                        readonly>
                                      <button type="button" class='plus'>+</button>
                                    </div>
                                  </td>
                                  <td class="text-end">
                                    <div>
                                      <input type="text" class="form-control bg-light border-0 product-line-price"
                                        id="productPrice-1" placeholder="$0.00" readonly />
                                    </div>
                                  </td>
                                  <td class="product-removal">
                                    <a href="javascript:void(0)" class="btn btn-success">Delete</a>
                                  </td>
                                </tr>

                              </tbody>
                              <tbody>
                                <tr id="newForm" style="display: none;">
                                  <td class="d-none" colspan="5">
                                    <p>Add New Form</p>
                                  </td>
                                </tr>
                                <tr>
                                  <td colspan="5">
                                    <a id="add-item" class="btn btn-soft-secondary fw-medium"><i
                                        class="ri-add-fill me-1 align-bottom"></i> Add Item</a>
                                  </td>
                                </tr>
                                <tr class="border-top border-top-dashed mt-2">
                                  <td colspan="3"></td>
                                  <td colspan="2" class="p-0">
                                    <table class="table table-borderless table-sm table-nowrap align-middle mb-0">
                                      <tbody>
                                        <tr>
                                          <th scope="row">Org Price:</th>
                                          <td style="width:150px;">
                                            <input type="text" class="form-control bg-light border-0" id="cart-subtotal"
                                              placeholder="$0.00" readonly />
                                          </td>
                                        </tr>
                                        <tr>
                                          <th scope="row">Discount:</th>
                                          <td>
                                            <input type="text" class="form-control bg-light border-0" id="cart-discount"
                                              placeholder="$0.00" readonly />
                                          </td>
                                        </tr>
                                        <tr>
                                          <th scope="row">Total Price:</th>
                                          <td>
                                            <input type="text" class="form-control bg-light border-0" id="cart-total"
                                              placeholder="$0.00" readonly />
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <!--end table-->
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!--end table-->
                          </div>
                        </div>
                        <!--end row-->
                        <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                          <button type="submit" class="btn btn-success"><i class="ri-add-line align-bottom me-1"></i>
                            Add</button>
                          <button type="reset" class="btn btn-danger"><i class="ri-printer-line align-bottom me-1"></i>
                            Reset</button>
                        </div>
                    </div>
                    </form>
                  </div>
                </div>
                <!--end col-->
            </div>
            <!--end row-->


          </div>
          <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        <%- include('layout/footer'); %>

  </div>

  <!--end row-->
  <!-- end main content-->
  </div>
  <!-- END layout-wrapper -->
  <%- include('layout/customizer'); %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <!-- dropzone min -->
    <script src="assets/libs/dropzone/dropzone-min.js"></script>

    <!-- cleave.js -->
    <script src="assets/libs/cleave.js/cleave.min.js"></script>
    <script type="module" src="assets/js/pack/create.js"></script>

    <%- include('layout/vendor-scripts'); %>
      <!-- App js -->
      <script src="assets/js/app.js"></script>
</body>

</html>