<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
  data-sidebar-image="none" data-preloader="disable">

<head>

  <meta charset="utf-8" />
  <title>
    <%-title%> | Velzon - Admin & Dashboard Template
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
  <meta content="Themesbrand" name="author" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <%- include('layout/head-css'); %>
</head>

<body>
  <div id="layout-wrapper">
    <%- include('layout/topbar'); %>
      <%- include('layout/sidebar'); %>
        <div class="main-content overflow-hidden">
          <div class="page-content">
            <div class="container-fluid">
              <div class="position-relative mx-n4 mt-n4">
                <div class="profile-wid-bg profile-setting-img">
                  <img src="assets/images/profile-bg.jpg" class="profile-wid-img" alt="">
                  <div class="overlay-content">
                    <div class="text-end p-3">
                      <div class="p-0 ms-auto rounded-circle profile-photo-edit">
                        <input id="profile-foreground-img-file-input" type="file"
                          class="profile-foreground-img-file-input">
                        <!-- <label for="profile-foreground-img-file-input" class="profile-photo-edit btn btn-light"
                          data-key="t-change-cover">
                          <i class="ri-image-edit-line align-bottom me-1"></i> Change Cover
                        </label> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xxl-3">
                  <div class="card mt-n5">
                    <div class="card-body p-4">
                      <div class="text-center">
                        <div class="profile-user position-relative d-inline-block mx-auto  mb-4">
                          <img src="assets/images/upload/<%= user_image %>"
                            class="rounded-circle avatar-xl img-thumbnail user-profile-image" alt="user-profile-image">
                          <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                            <input id="profile-img-file-input" type="file" class="profile-img-file-input">
                            <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                              <span class="avatar-title rounded-circle bg-light text-body">
                                <i class="ri-camera-fill"></i>
                              </span>
                            </label>
                          </div>
                        </div>
                        <h5 class="fs-16 mb-1" id="profile_user_name">
                          <%- user_name %>
                        </h5>
                        <p class="text-muted mb-0" id="profile_auth">
                          <%- auth %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <!--end card-->
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-center mb-5">
                        <div class="flex-grow-1">
                          <h5 class="card-title mb-0" data-key="t-complete-profile">Complete Your Profile</h5>
                        </div>
                      </div>
                      <div class="progress animated-progress custom-progress progress-label">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                          aria-valuemin="0" aria-valuemax="100">
                          <div class="label">100%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end card-->
                </div>
                <!--end col-->
                <div class="col-xxl-9">
                  <div class="card mt-xxl-n5">
                    <div class="card-header">
                      <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" data-bs-toggle="tab" href="#personalDetails" role="tab"
                            data-key="t-personal-detail">
                            <i class="fas fa-home"></i>
                            Personal Details
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" data-bs-toggle="tab" href="#changePassword" role="tab"
                            data-key="t-change-password">
                            <i class="far fa-user"></i>
                            Change Password
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body p-4">
                      <div class="tab-content">
                        <div class="tab-pane active" id="personalDetails" role="tabpanel">
                          <form action="javascript:void(0);" class="form">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="mb-3">
                                  <label for="firstnameInput" class="form-label" data-key="t-username">User
                                    Name</label>
                                  <input type="text" class="form-control" id="userNameInput"
                                    placeholder="Enter your firstname" value="<%-user_name %>">
                                </div>
                              </div>
                              <!--end col-->
                              <div class="col-lg-6">
                                <div class="mb-3">
                                  <label for="emailInput" class="form-label" data-key="t-mailbox">Email
                                    Address</label>
                                  <input type="email" class="form-control" id="emailInput"
                                    placeholder="Enter your email" value="<%-email %>">

                                </div>
                              </div>
                              <!--end col-->
                              <!--end col-->
                              <div class="col-lg-4">
                                <div class="mb-3">
                                  <label for="cityInput" class="form-label" data-key="t-city">City</label>
                                  <span type="text" class="form-control" id="cityInput" placeholder="City"
                                    value="杭州">杭州</span>
                                </div>
                              </div>
                              <!--end col-->
                              <div class="col-lg-4">
                                <div class="mb-3">
                                  <label for="countryInput" class="form-label" data-key="t-country">Country</label>
                                  <span type="text" class="form-control" id="countryInput" placeholder="Country"
                                    value="中国">中国</span>
                                </div>
                              </div>
                              <!--end col-->
                              <div class="col-lg-12">
                                <div class="hstack gap-2 justify-content-end">
                                  <button type="submit" class="btn btn-primary" data-key="t-update">Updates</button>
                                  <button type="reset" class="btn btn-soft-success" data-key="t-cancel">Cancel</button>
                                </div>
                              </div>
                              <!--end col-->
                            </div>
                            <!--end row-->
                          </form>
                        </div>
                        <!--end tab-pane-->
                        <div class="tab-pane" id="changePassword" role="tabpanel">
                          <form action="javascript:void(0);" class="form">
                            <div class="row g-2">
                              <div class="col-lg-4">
                                <div>
                                  <label for="newpasswordInput" class="form-label" data-key="t-new-password">New
                                    Password*</label>
                                  <input type="password" class="form-control" id="newpasswordInput"
                                    placeholder="Enter new password">
                                </div>
                              </div>
                              <!--end col-->
                              <div class="col-lg-4">
                                <div>
                                  <label for="confirmpasswordInput" class="form-label"
                                    data-key="t-confirm-password">Confirm
                                    Password*</label>
                                  <input type="password" class="form-control" id="confirmpasswordInput"
                                    placeholder="Confirm password">
                                </div>
                              </div>
                              <!--end col-->
                              <div class="col-lg-12">
                                <div class="text-end">
                                  <button type="submit" class="btn btn-success" data-key="t-change-password">Change
                                    Password</button>
                                </div>
                              </div>
                              <!--end col-->
                            </div>
                            <!--end row-->
                          </form>
                        </div>
                        <!--end tab-pane-->
                      </div>
                    </div>
                  </div>
                </div>
                <!--end col-->
              </div>
            </div>
            <!-- container-fluid -->
          </div>
          <!-- End Page-content -->
          <%- include('layout/footer'); %>

        </div>

        <!--end row-->
        <!-- end main content-->
  </div>
  <!-- END layout-wrapper -->
  <%- include('layout/customizer'); %>

    <!-- profile-setting init js -->
    <script src="assets/js/pages/profile-setting.init.js"></script>
    <script type="module" src="assets/js/user/profileSetting.js"></script>

    <%- include('layout/vendor-scripts'); %>
      <!-- App js -->
      <script src="assets/js/app.js"></script>
</body>

</html>